@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/buttons";

body {
    background-color: $gray-800;
}

.button {
    @extend .btn-dark;
}

.button-alt {
    @extend .btn-light;
}

.input {
    @extend .bg-dark;
    @extend .text-light;
    @extend .border-dark;
}

.search {
    margin-left: auto;
    margin-right: auto;
    transition: width 0.5s, margin-top 0.5s;
    transition-timing-function: ease-out;
}

.search-home {
    margin-top: 300px;
    width: 600px;
}

.loading {
    position: absolute;
    display: block;
    z-index: 100;
    margin-top: 10%;
    margin-left: 40%;
    width: 20%;
}

.transparent {
    opacity: 0;
}

.quick-result {
    @extend .bg-dark;
    @extend .text-light;
    margin-top: 1rem;
    transition: opacity 0.5s;
    animation-name: result-fly-in;
    animation-duration: 0.5s;
}

.quick-result-image {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 0.25em;
}

.result {
    @extend .bg-dark;
    @extend .text-light;
    margin-top: 1rem;
    transition: opacity 0.5s;
    animation-name: result-fly-in;
    animation-duration: 0.8s;
}

.no-animation {
    animation-duration: 0s;
}

.no-dec {
    text-decoration: none;
}

.input-dark:focus {   
    outline: none !important;
    border:1px solid #f8f9fa;
    box-shadow: 0 0 0px 4px #f8f9fa66;
}

@keyframes result-fly-in {
    from {margin-top: 1000px;}
    to {margin-top: 1rem;}
}